.prg {
  height: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  border: 0.5px solid #757575;
  border-radius: 5px;
}
.statByUser{
    margin-top: 50px;
}
hr{
    border-top: 1px solid #757575 !important;
}
.success-label{
    position:absolute;
    height:26px;
    left: 15px;
    margin-top:-10px;
    padding-left: 5px;
    padding-right: 5px;
    z-index:1;
    border-radius:15px;
    border: 1px solid white;
    background-color: #5cb85c;
    color: white;
    text-align: center;
}
.danger-label{
    position:absolute;
    height:26px;
    left: 15px;
    margin-top:-10px;
    padding-left: 5px;
    padding-right: 5px;
    z-index:1;
    border-radius:15px;
    border: 1px solid white;
    background-color: #d9534f;
    color: white;
    text-align: center;
}
.warning-label{
    position:absolute;
    height:26px;
    left: 15px;
    margin-top:-10px;
    padding-left: 5px;
    padding-right: 5px;
    z-index:1;
    border-radius:15px;
    border: 1px solid white;
    background-color: #f0ad4e;
    color: white;
    text-align: center;
}
.primary-color{
    background-color:#4989bd;
}
.success-color{
    background-color:#5cb85c;
}
.danger-color{
    background-color:#d9534f;
}
.warning-color{
    background-color:#f0ad4e;
}
.info-color{
    background-color:#5bc0de;
}
.no-color{
    background-color:inherit;
}